/* Side Menu CSS */
h1 {font-size: 100%; color: black; border-bottom:1px solid black;text-transform:uppercase; padding-bottom: 1%;}
nav{width: 25%; background-color: rgb(181, 62, 62); padding: 3% 3% 0% 1%; display: flex; flex-direction:column; border-right: 1px solid black; position: fixed; top: 0; bottom: 0;}
.side-menu-section{padding-bottom: 10%; display: flex; flex-direction: column; justify-content: right;}
.side-menu-span{display: block; padding: 1% 0% 0% 10%;} /* top right bottom left*/
.side-menu-span a{text-decoration: none; color: black; font-size: 110%;}
.side-menu-span a:hover{color: rgb(65, 115, 196);}